permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "30 * * * *"
jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@2.0.4
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
